<html>
 <style type="text/css">
 body {background-color:wheat;}
</style>
 </head>
 <body style="text-align: center">
  <h1 > It was nice having you here.</h1>
  <p> Goodbye!</p>
  <p>If you want to come back,please click href <a href="/liupan/skip">back</a>! </p>
  <p>It is now <%= @time %> <%=@date%></p>
 </body>
</html>