<html> 
<style type="text/css">
body {background-color:wheat;}
</style>
<body style="text-align:center">
<h1 style="font-size:40px;">Welcome to you  </h1>
<h1 style="font-size:22px;">my name is Liupan</h1>
<p> 欢迎进入国科大网页</p>
<input type="button"  style="width:50px;height:30px;" value="进入" size="30" onclick="javascrtpt:window.location.href='http://www.gucas.ac.cn/'">
<p><a href="/liupan/goodbye">exit</a> </p>
<p>It is now <%= @time %></p>
<p>Today is <%= @date %></p>

 </body>
</html> 
